.waitWrapper {
  @apply flex justify-center items-center flex-col min-h-screen self-center;
  color: rgba(140, 140, 140, 1);
}
.wait {
  @apply flex flex-col items-center justify-center px-32 py-20 border-orange border;
  border-radius: 10px;
  @media (max-width: 1200px) {
    @apply w-3/4;
  }
}

.tableContainer {
  @apply flex flex-col w-full items-center;
}

.table {
  @apply flex flex-col border min-w-full;
  min-height: 217px;
  border: 1px solid #faad14;
  border-radius: 3px;
}

.waitMaxPlayers {
  @apply p-0 pt-4;
}

.tableRow {
  @apply flex flex-row justify-between cursor-pointer transform px-4 py-4;
  border-bottom: 1px solid #faad14;
}

.btn {
  @apply mt-8 py-2 px-16 text-white border-orange border rounded-full font-medium
  hover:bg-yellow-500 transition-colors duration-100 focus:outline-none;
  @media (max-width: 500px) {
    @apply w-full mb-5;
  }
}
