.main {
  font-family: Roboto, sans-serif;
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  background:#F5F5F5;
  display: flex;
}

.demo-card-l {
  position: absolute;
  left: 10.35%;
  right: 72.48%;
  top: 33.37%;
  bottom: 32.29%;
  background: #2D2A2A;
  transform: rotate(-24.29deg);
  border: 1px solid gray;
}

.demo-card-r {
  position: absolute;
  left: 23.26%;
  right: 59.57%;
  top: 33.37%;
  bottom: 32.29%;
  background: #2D2A2A;
  transform: rotate(34.79deg);
  border: 1px solid gray;
}

.title {
  position: absolute;
  left: 53.52%;
  right: 27.15%;
  top: 29.17%;
  bottom: 56.12%;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 112px;
  color: #282525;
}

.subtitle {
  position: absolute;
  left: 54.52%;
  right: 21.73%;
  top: 44.27%;
  bottom: 52.08%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  font-variant: small-caps;
  color: #282525;
}
